DavidCore/DAVID/bin/*
DavidCore/DAVID/obj/*
.vscode/*
.vscode/settings.json
TEST/TestProject1/bin/*
TEST/TestProject1/obj/*
DavidCore/DAVID/Trace/*
CompleteProject/*
DavidCore/DAVIDSocketServer/bin/*
DavidCore/DAVIDSocketServer/obj/*
*.DS_Store
DavidCore/AppBase/bin/*
DavidCore/AppBase/obj/*
DavidCore/FileBasedDatabase/bin/*
DavidCore/FileBasedDatabase/obj/*